sudo: required
language: java
install: true
jdk:
  - oraclejdk8

env:
  global:
    - secure: "pcYro8VvhBnkLS58FtK0VHYxP2PQEZR0f3pUONP2sqYiSM4UVampzrUklQS4d87FN9j1lhCEVKi+t9bdLukcqM56hx0dmJo5vjIb1YcLf/tegbdFOk
ERf9JPee5AelH+obs6rn3q2My2Brm17zNSzZteYDYRf0gn9r0a9UwQJPSbkH3uRKJ1I50TOi8X+bqXZh6is8R+O3ofYruB+Us3l5ajGxrMWh+iZJLCc2JsZeajZ5V
zMwDjfXrh4fxfhYww6RcUDF67CnKqvuVhFOzXKRUJonm+PPrQRSylIL6xj4fH0wgGIwfKG+TET83/s0D29ToAIgN2u6H1lecxDwvTtPoxFttgBZJ8uVtskekz+k3z
nQmByoRSsO3r9XPaD9G7CYYxzYj7/YNdIY2X1VPDiy41rKXvmKDdwfevhNQX35zR5ycVa+XS/Uhd9R+CbipFwmQwJQnkdmUMEzAkuVHXXBS3X2oI331QOyX0qhKKe
CYhbRXCdQFMhJ8rgIQM+D7ocWcIHfbgabW22pNn8WkcK+wg9N2+zszt1OkQcmKdd/A+8S25nmqbT6dy+OCaLxH2uglC4WMKKuYiDqhLQSE230P6ASVG9Fp98JZXWa
958LpYmoYVDtx8CKA5lMiy6kZmd+rIszinfEBNV707nvh/puFqDFOwQf5h7f8oz0foG/s="
    - secure: "rchQ5Sq+uXGzFlPuVVFuwAEE3Y1yKRPfl2Qoq9V4xQYaY/IpYsHIVrYjLJh9ytnAqexEHoxcm3w+6dy0fp2A1GBdh9065P/7ANnXvZk2DCpGTTbFD8
EwOgBaD/lua6rJ7Tmpz6rWbWj8Yb6FGohcuVJk8zEsLChwyFddfXChkwUZfSi33b+R4AkWVEGl2L3kQX1zcNwGzIFZo8UFqgU4UH3HIkyeeG0GqcHRlIAgLQ2GxtX
NyzgNAPb6Pb2sgR4mxUJSTRswlPM5qh4naGTsQsX5ac6H1p1Ql3O+7fjSrTJWZYFcdhcVX1ZjZHtKlWkw1HBuyMcZ5NG8O/U0kmD30hqMVz72g6XOt+MO5GBjq/oa
WGc5aMpb4AXuErymkUnE/o+kVHLVSiXcjI5sMhMA4yKn3wiT4HhAMSTzURnBvWAU/QraKcBsR1NHGdTvbwDwojOvnrzlWUPsPxZILo4TnbHsYYFF+3oy9HoYaQkQ4
kBh7wWngEnz0jhd9LUwtBhKodF8fw9aPXLQM4jHro4/pQ8xVENBS1OMf5iCyDNbsgryCENGnmZlumEs6QdwTs/nK/uqetVL91uz5YOqk9NQYUuw/jcpkwt4IcgO79
BFCiy8ABTXXQibL4kwvt0tvC9e1GG4Hi6KWsnmmaRM1mO/UJ6XuKqoOUoSUuNpmqLcu1Y="

before_install:
  - openssl aes-256-cbc -K $encrypted_b32b8095166d_key -iv $encrypted_b32b8095166d_iv -in keystore.jks.enc -out keystore.jks -d

#required for launch4j to run
before_script:
  - sudo apt-get update
  - sudo apt-get install libc6:i386 libstdc++6:i386

script:
  - mvn clean install -X checkstyle:check

after_success:
  - mvn test jacoco:report coveralls:report

deploy:
  - provider: releases
    api_key:
      secure: "Y43tHaZXsc1K+FT1C8MO3A9BnjqYmfySXoC9CDEZvR6bzV71+rP/1hk4h4sRGqD1S6b5K0+TdGrpfWa1Isf1XOtHSPjp5qMvsQ+suydMlVh6wCE2l08m747/9Cq2LKT+c7uxNgq8ySZwuCWyinXDQpwxS2FThbs09XNu8GSH6eg++BAGAuLAwWctuyY9xYw1R5RPPUCDziWQE45xHxOK/HE1LHs3X4843DBZlN2tpJlUbQgCzSBgy+KdaCU5jC1pxH+haKBKUsCqVQFPaBoZT2UQAP7XmwSD7pxjevAn5+j8KrRU2dlCKgHqlf9ZrqA1sfC+Hv4lAbPdPaLL7s+qhtPDQn5SoNdTLvG0nIh1hvsOmT+9mYWxD45Ujbib20CReicwSlQX3t+4jkQGIEawBpozjZMKWyWksA0WMDuXZwWkCp/GA44Bcjbb8fjJp4K70COtQziphLTl9BAfb24kLxCaJ83Vo60aAp03KUChk+u5q9jqFvl7n0DGoUqhfiYyguG3yBfNGoFDTbz39DRsaf9QGaxBkIaBemw77Q7PnZEuhDIShSPconWZBOZb1KSgIugPzw2SQp1PuFvZYNYd2yg6PvyNVjl1OMrFY5pwyeJHrcE/7rwNQTnA1QeINOn8WRNr/eUlMHeTvpj3DW/f6OhTdW3meVzWoCqG5fvGw1k="
    file_glob: true
    file:
      - "target/uber-adb-tools-*.jar"
      - "target/uadb.exe"
    skip_cleanup: true
    on:
      branch: master
      tags: true

cache:
  directories:
    - $HOME/.m2

notifications:
  slack:
    secure: "hp09fUWRqUe/OH8A2/9Tp7KO9v568UG3RW7NPBvQH4vpFKb7HMgP6p+r1x0QdiioapIva/Mntzsd1TM11kSzmWX8dTS9UqYBFMpdxEBu+CILu4ttiQwEVqcwt95Igl7ZtSgjJrn/Z/s2YsGNtU2RS1GrmCZLlpT7ym2ILlgtfx1PNkCHgTZlxk1hmtbFPk/CoC5eg2mUnyPw/ssP76vYvyWc6y3UrIFAkh5UFIK/74rOKsAEsHPOPwPKbISVM5YsM/TQz3018X4np1EjWwEgLIqYtn6CPsJdQHzSAGkwJ8gsLHKizezyj0/MW1DV/U0WQgsywqTPoDqIikrhWk7lPqdD5cHmJMVkkO1axCSu4pXbKfYd+NOGWBciRkpLqevpOjOvcgBg2MEY3mUxEb99Aq7WGaWzgYGqghgZoPHPawQ4dz5+oIBb5KN7sTaXhvDPYTZh6pzgm125Vsquc27b/mo9ma2bgjXI0MV7E2fkXN1oZXe9GxPYnWFK8WdlxA+t6kp5/9d/FTtIbTgdd2k0JRozV+n4j0Kq3pNLJCQ/cvJar+w/Xo9R/iixbHfBVOGIJv5Rk+DqUJFzKJ/95B+EOW5+1R/oyq4lrHBUDJHXIicDhepBWzbBoL+kV5zSrF+R03iLWUMineSOXJpvbJhC28+xE/GRQGImoaU6KgB6stw="
  email: false